<div style='position: absolute; top: 70px; z-index: 2; text-align: center; width:100%' ng-if='results.loggedIn'>
  <div style='width: 50%; display: inline-block' class="alert alert-success">
    <strong>Welcome back to HomeRoam!</strong>
    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
</div>
<br>
<br>
<br>
<h2 style="text-align: center">I'm looking for...</h2><br>
<div style="text-align: center">
  <div class="center">
    <div style='text-align: center'>
      <a href='#/explore/homes?display=gallery' type='button' style='display: none; margin: 2px; width: 165px' class='btn btn-danger'>Houses<br>
        <i class='fa fa-home fa-5x'></i>
      </a>
      <a href='#/explore/apartments?display=gallery' style='display: none; margin: 2px; width: 165px' type='button' class='btn btn-danger'>Apartments<br>
        <i class='fa fa-building fa-5x'></i>
      </a>
    </div>
  </div>
</div>
